nav {
    height: 60px;
}

input, button {
    height: 35px;
}

input {
    box-sizing: border-box;
    color: #E5E5E5;
    font-size: 20px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.192);
    border: none;
    border-radius: 15px 0 0 15px;
    padding-left: 15px;
    outline: none;
}

input:focus {
    border: 1px solid #FF9900;
    border-right: none;
}

button {
    padding: 0 15px;
    border: none;
    font-size: 16px;
    background-color: #FF9900;
    border-radius: 0 15px 15px 0;
}